*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
font-family: 'Italiana', serif;
background-color:rgb(26, 23, 23);
}
section{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:auto;
    color: white;
}
header{
    position: fixed;
    width:100%;
    z-index: 2;
}
header .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .fa{
    color:white;
}
header .fa:hover{
    color:gold;
}
header a{
    color:white;
    text-decoration: none;
}
header a span{
    font-size: smaller;
}
header a:hover{
    color:gold;
}
header .nav_head{
    list-style: none;
    display: none;
}
header .nav_head li{
    display: inline;
    margin:0 20px;
}
header .nav_head li a{
    color:white;
    text-decoration: none;
}
header .nav_head li a:hover{
    color:gold;
    border-bottom: gold solid .4px;
    padding-bottom: 5px;
}

header .nav_menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}
header .nav_menu li{
    margin:10px;
}
header .nav_menu li a{
    color:white;
    text-decoration: none;
}
header .nav_menu li a:hover{
    color:gold;
    border-bottom: gold solid .4px;
    padding-bottom: 5px;
}
header .head_container{
    position: relative;
    width: 100%;
    height: 100%;
    padding:24px;
}
.navbar{
    transition: all .5s ease;
    transform: translateY(-250px);
    width:50%;
    margin: auto;
}
.nav_active{
    transform: translateY(0px);
}
.home{
    height:100vh;
    width:100%;
    background-image:url("bg29178.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: white solid;
    background-attachment: fixed;
}
.home .home_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home .home_container .home_name{
    left:20%;
    position: absolute;
    color:white;
}
.home .home_container h1{
    font-size: 9em;  
}
.home .home_container h1 span{
    font-size: smaller;
}
.home .home_container h2{
    font-size: 2em;
}
.socmed a{
    font-size:2em;
    color:white;
}
.socmed a:hover{
    color:gold;
}
.title{
    font-size: 1.5em;
    padding: 30px 0;
}
.title h1{
    border-bottom: gold 3px solid;
    float: left;
    padding-bottom: 10px;
}
#about{
    padding-top: 100px;
}
#about p{
    font-size: 1.5em;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#about p span{
    font-size: 2em;
    font-family: italiana;
    color:gold;
}
#about .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about .content img{
    width:60%;
    margin:auto;
    border:white solid;
    border-radius: 50%;
}
#footer{
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}
#skill{
    height:80vh;
    padding-top: 100px;
    margin-bottom: 100px;
}
#skill .subcontent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:15px 0;
}
#skill .sub_content{
    border-left: gold solid;
    padding-left: 15px;
}
#skill h2{
    margin-bottom: 20px;
}
/*POO*/
#project{
    margin-bottom: 50px;
}
#project .content{
    position: relative;
}
#project .content .button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: grey;
    border:none;
    border-radius: 50%;
    padding:20px;
    color:white;
    font-size: 1.3em;
    opacity:0.5;
}
#project .content .button:hover{
    opacity: 1;
}
#project .content .prev{
    left:0;
}
#project .content .next{
    right:0;
}
.carousel_content{
    width:80%;
    margin:auto;
    height:60vh;
    background-color:gold;
    opacity: .8;
    overflow: hidden;
}
.carousel_slides{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500%;
    height:inherit; 
}
.carousel_slides a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.op{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.op p{
    color:black;
}
.potatoplanet{
    background-image: url("potato1.jpg");
    background-size: cover;
}
.todoapp{
    background-image: url("todo2.jpg");
    background-size: cover;
}
.card .spin{
    width:40px;
    height: 40px;
    border:rgb(107, 101, 101) 1px dotted;
    border-radius: 50%;
    border-top: black solid 1px;
    animation: spin 1.5s ease infinite;
    margin-top: 30px;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

#contact{
    margin-bottom: 50px;
}
#contact .content{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:15px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact .content .section{
    display: flex;
    font-size: 1.5em;
}
#contact .content .section i{
    padding-right: 20px;
}
@media only screen and (min-width: 768px){

header .fa{
    display: none;
}
header .nav_head{
    display: block;
}
header .nav_menu{
    display: none;
}
.home .imgWrap{
    justify-content:center;
}
.home .imgWrap img{
    width: 60%;
    transform: translateY(20px);
}
.home .home_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}
.home .home_container .home_name{
    position: relative;
    transform: translateX(100px);
}
.home .home_container .home_name h1{
    font-size: 12em;
}
.home .home_container .home_name h2{
    font-size: 3em;
}
#about .content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap:30px;
}
#about .content img{
    width:90%;
    transform: translateY(30px);
}
#skill{
    height:50vh;
}
#skill .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#skill .subcontent{
    display:block;
}
#contact .content{
    grid-template-columns: 1fr 1fr;
}
.todoapp{
    background-image: url("todo1.jpg");
}
}
